<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">   <!-- 增加超链接，方便从文章列表访问每一篇文章 -->
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
