<h1>New Article</h1>

<!-- 文件名必须以下划线作为前缀，例如 _form.html.erb 。但在渲染时，引用它时不带下划线，例如 render "form" 。 -->
<!-- _form.html.erb 中有一个变量 article , 这里在渲染时，使用 _form.html.erb ，并且将 @article 实例参数，作为 _form.html.erb 需要的 article 参数传递给它 -->
<%= render "form", article: @article %>
